/*!
 * Cad Bane v0.0.1
 */
/*------------------------------------*\
    # Type
\*------------------------------------*/
*,
html,
body {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
  color: #868686;
  line-height: 1;
  font-weight: 300; }
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0.75rem; }

h1 {
  font-size: 4.5rem;
  margin-bottom: 0.5rem; }
  h1 a {
    font-size: 4rem;
    text-decoration: none; }

h2 {
  font-size: 4rem;
  margin-bottom: 0.3846153846rem;
  color: #495057; }
  @media (max-width: 480px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: 2rem;
  margin-bottom: 0.3333333333rem;
  color: #e56751; }
  @media (max-width: 480px) {
    h3 {
      font-size: 1.85rem; } }

h4 {
  font-size: 1.85rem;
  margin-bottom: 0.2941176471rem;
  color: #6c757d; }

h5 {
  font-size: 1.75rem;
  margin-bottom: 0.2777777778rem;
  color: #6c757d; }
  @media (max-width: 480px) {
    h5 {
      font-size: 1rem; } }

h6 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: #6c757d; }

p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.35;
  color: #3f3f3f; }
  p:last-of-type {
    margin-bottom: 0; }
  @media (max-width: 480px) {
    p {
      font-size: 0.875rem; } }

a {
  color: #e56751;
  transition: all 0.2s ease; }
  a:hover {
    color: #b5321b; }

ul,
ol {
  margin: 1rem; }
  ul li,
  ol li {
    margin-top: 0;
    line-height: 1.35;
    color: #3f3f3f; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0; }

ul li {
  list-style: disc; }

ul ul li {
  list-style: circle; }

ol li {
  list-style: decimal; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

blockquote {
  margin: 1.5rem 0;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #6c757d;
  text-align: center;
  font-style: italic; }

table {
  width: 100%;
  margin: 1.5rem 0;
  border-collapse: collapse; }

table,
td,
th {
  border: 1px solid #dee2e6;
  text-align: left; }

th {
  font-weight: 700; }

th,
td {
  padding: 15px; }

figure {
  margin: 1.5rem 0; }
  figure img {
    margin: 0; }

figcaption {
  margin-top: 10px;
  color: #595858;
  font-size: 0.8rem; }

pre {
  display: block;
  margin: 0 0 40px 0;
  padding: 20px;
  background-color: #5e5e5e;
  border: 1px solid #dee2e6;
  overflow: auto;
  border-radius: 3px; }
  pre code {
    position: static;
    padding: 0;
    border: none;
    line-height: 1.5em; }

code {
  position: relative;
  top: -0.2em;
  padding: 3px;
  font-family: Courier New, Courier, monospace;
  font-size: 0.8333333333rem;
  color: #293036;
  line-height: 1rem;
  pointer-events: none;
  border: 1px solid #dee2e6;
  border-radius: 3px; }

em,
i,
.italic {
  font-style: italic; }

strong,
b,
.bold {
  font-weight: 700; }

img {
  display: block;
  max-width: 100%;
  margin-bottom: 0.2941176471rem; }

.post-details {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .post-details .date,
  .post-details .author,
  .post-details a {
    font-size: 1rem;
    line-height: 0.85;
    color: #818181; }

.loop-details {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 2rem; }
  .loop-details .date,
  .loop-details .author,
  .loop-details a {
    font-size: 1rem;
    line-height: 0.85;
    color: #818181; }

.content-details {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 2rem;
  margin-bottom: 2rem; }

article h3 {
  font-family: "Yellowtail", cursive;
  margin-top: 2rem !important; }

article h3 a {
  font-family: "Yellowtail", cursive;
  font-size: 2rem;
  text-decoration: none; }

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

/*------------------------------------*\
    # Nav
\*------------------------------------*/
.hamburger {
  display: block;
  position: relative;
  width: 100%;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear; }
  .hamburger .hamburger-inner,
  .hamburger .hamburger-inner:before,
  .hamburger .hamburger-inner:after {
    display: block;
    background-color: #b2bbbd;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    content: "";
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger .hamburger-inner {
    top: 50%;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger .hamburger-inner:before {
    position: absolute;
    top: 8px;
    transition: top 0.1s 0.14s ease, opacity 0.1s ease; }
  .hamburger .hamburger-inner:after {
    position: absolute;
    bottom: 8px;
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger.is-active .hamburger-inner:before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease; }
  .hamburger.is-active .hamburger-inner:after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

.main-navigation {
  display: flex;
  flex-direction: column;
  background: #fff; }
  @media screen and (min-width: 900px) {
    .main-navigation {
      flex-direction: row;
      justify-content: space-between; } }

.pre-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 60px; }
  @media screen and (min-width: 900px) {
    .pre-nav {
      height: auto; } }
  .pre-nav .brand {
    text-decoration: none;
    color: #e56751;
    font-weight: 700; }
    .pre-nav .brand img {
      max-width: 100%;
      height: auto;
      vertical-align: middle; }
  .pre-nav .menu-toggle {
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    background: 0;
    width: 26px;
    height: 24px;
    padding: 0;
    cursor: pointer; }
    @media screen and (min-width: 900px) {
      .pre-nav .menu-toggle {
        display: none; } }

.nav-items {
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #e9ecef; }
  .nav-items.is-active {
    display: flex; }
  .nav-items li {
    border-bottom: 1px solid #fff;
    list-style: none; }
    .nav-items li:last-of-type {
      border: 0; }
    .nav-items li a {
      text-decoration: none;
      display: block;
      padding: 20px 15px;
      color: #868686;
      font-size: 15px;
      font-weight: 300; }
  @media screen and (min-width: 900px) {
    .nav-items {
      display: flex;
      flex-direction: row;
      background: none; }
      .nav-items li {
        border: none;
        transition: background 0.3s ease; }
        .nav-items li a {
          padding: 0 15px;
          line-height: 70px; }
        .nav-items li:hover, .nav-items li.current-menu-item {
          background: #e9ecef;
          outline: 0; }
      .nav-items .menu-item-has-children {
        position: relative; }
        .nav-items .menu-item-has-children .sub-menu {
          list-style: none;
          margin: 0;
          padding: 0;
          background: #dee2e6;
          display: none;
          text-align: right;
          position: absolute;
          min-width: 100px;
          left: auto;
          right: 0;
          top: auto;
          white-space: nowrap; }
          .nav-items .menu-item-has-children .sub-menu li a {
            line-height: 1.6;
            padding: 8px 15px;
            font-size: 14px; }
            .nav-items .menu-item-has-children .sub-menu li a:hover {
              background: #e56751; }
        .nav-items .menu-item-has-children:hover > .sub-menu {
          display: block;
          outline: 0; } }

[data-aos][data-aos][data-aos-duration="50"],
body[data-aos-duration="50"] [data-aos] {
  transition-duration: 50ms; }

[data-aos][data-aos][data-aos-delay="50"],
body[data-aos-delay="50"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="50"].aos-animate,
body[data-aos-delay="50"] [data-aos].aos-animate {
  transition-delay: 50ms; }

[data-aos][data-aos][data-aos-duration="100"],
body[data-aos-duration="100"] [data-aos] {
  transition-duration: 0.1s; }

[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: 0.1s; }

[data-aos][data-aos][data-aos-duration="150"],
body[data-aos-duration="150"] [data-aos] {
  transition-duration: 0.15s; }

[data-aos][data-aos][data-aos-delay="150"],
body[data-aos-delay="150"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="150"].aos-animate,
body[data-aos-delay="150"] [data-aos].aos-animate {
  transition-delay: 0.15s; }

[data-aos][data-aos][data-aos-duration="200"],
body[data-aos-duration="200"] [data-aos] {
  transition-duration: 0.2s; }

[data-aos][data-aos][data-aos-delay="200"],
body[data-aos-delay="200"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="200"].aos-animate,
body[data-aos-delay="200"] [data-aos].aos-animate {
  transition-delay: 0.2s; }

[data-aos][data-aos][data-aos-duration="250"],
body[data-aos-duration="250"] [data-aos] {
  transition-duration: 0.25s; }

[data-aos][data-aos][data-aos-delay="250"],
body[data-aos-delay="250"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="250"].aos-animate,
body[data-aos-delay="250"] [data-aos].aos-animate {
  transition-delay: 0.25s; }

[data-aos][data-aos][data-aos-duration="300"],
body[data-aos-duration="300"] [data-aos] {
  transition-duration: 0.3s; }

[data-aos][data-aos][data-aos-delay="300"],
body[data-aos-delay="300"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="300"].aos-animate,
body[data-aos-delay="300"] [data-aos].aos-animate {
  transition-delay: 0.3s; }

[data-aos][data-aos][data-aos-duration="350"],
body[data-aos-duration="350"] [data-aos] {
  transition-duration: 0.35s; }

[data-aos][data-aos][data-aos-delay="350"],
body[data-aos-delay="350"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="350"].aos-animate,
body[data-aos-delay="350"] [data-aos].aos-animate {
  transition-delay: 0.35s; }

[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
  transition-duration: 0.4s; }

[data-aos][data-aos][data-aos-delay="400"],
body[data-aos-delay="400"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="400"].aos-animate,
body[data-aos-delay="400"] [data-aos].aos-animate {
  transition-delay: 0.4s; }

[data-aos][data-aos][data-aos-duration="450"],
body[data-aos-duration="450"] [data-aos] {
  transition-duration: 0.45s; }

[data-aos][data-aos][data-aos-delay="450"],
body[data-aos-delay="450"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="450"].aos-animate,
body[data-aos-delay="450"] [data-aos].aos-animate {
  transition-delay: 0.45s; }

[data-aos][data-aos][data-aos-duration="500"],
body[data-aos-duration="500"] [data-aos] {
  transition-duration: 0.5s; }

[data-aos][data-aos][data-aos-delay="500"],
body[data-aos-delay="500"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="500"].aos-animate,
body[data-aos-delay="500"] [data-aos].aos-animate {
  transition-delay: 0.5s; }

[data-aos][data-aos][data-aos-duration="550"],
body[data-aos-duration="550"] [data-aos] {
  transition-duration: 0.55s; }

[data-aos][data-aos][data-aos-delay="550"],
body[data-aos-delay="550"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="550"].aos-animate,
body[data-aos-delay="550"] [data-aos].aos-animate {
  transition-delay: 0.55s; }

[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
  transition-duration: 0.6s; }

[data-aos][data-aos][data-aos-delay="600"],
body[data-aos-delay="600"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="600"].aos-animate,
body[data-aos-delay="600"] [data-aos].aos-animate {
  transition-delay: 0.6s; }

[data-aos][data-aos][data-aos-duration="650"],
body[data-aos-duration="650"] [data-aos] {
  transition-duration: 0.65s; }

[data-aos][data-aos][data-aos-delay="650"],
body[data-aos-delay="650"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="650"].aos-animate,
body[data-aos-delay="650"] [data-aos].aos-animate {
  transition-delay: 0.65s; }

[data-aos][data-aos][data-aos-duration="700"],
body[data-aos-duration="700"] [data-aos] {
  transition-duration: 0.7s; }

[data-aos][data-aos][data-aos-delay="700"],
body[data-aos-delay="700"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="700"].aos-animate,
body[data-aos-delay="700"] [data-aos].aos-animate {
  transition-delay: 0.7s; }

[data-aos][data-aos][data-aos-duration="750"],
body[data-aos-duration="750"] [data-aos] {
  transition-duration: 0.75s; }

[data-aos][data-aos][data-aos-delay="750"],
body[data-aos-delay="750"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="750"].aos-animate,
body[data-aos-delay="750"] [data-aos].aos-animate {
  transition-delay: 0.75s; }

[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
  transition-duration: 0.8s; }

[data-aos][data-aos][data-aos-delay="800"],
body[data-aos-delay="800"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="800"].aos-animate,
body[data-aos-delay="800"] [data-aos].aos-animate {
  transition-delay: 0.8s; }

[data-aos][data-aos][data-aos-duration="850"],
body[data-aos-duration="850"] [data-aos] {
  transition-duration: 0.85s; }

[data-aos][data-aos][data-aos-delay="850"],
body[data-aos-delay="850"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="850"].aos-animate,
body[data-aos-delay="850"] [data-aos].aos-animate {
  transition-delay: 0.85s; }

[data-aos][data-aos][data-aos-duration="900"],
body[data-aos-duration="900"] [data-aos] {
  transition-duration: 0.9s; }

[data-aos][data-aos][data-aos-delay="900"],
body[data-aos-delay="900"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="900"].aos-animate,
body[data-aos-delay="900"] [data-aos].aos-animate {
  transition-delay: 0.9s; }

[data-aos][data-aos][data-aos-duration="950"],
body[data-aos-duration="950"] [data-aos] {
  transition-duration: 0.95s; }

[data-aos][data-aos][data-aos-delay="950"],
body[data-aos-delay="950"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="950"].aos-animate,
body[data-aos-delay="950"] [data-aos].aos-animate {
  transition-delay: 0.95s; }

[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s; }

[data-aos][data-aos][data-aos-delay="1000"],
body[data-aos-delay="1000"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1000"].aos-animate,
body[data-aos-delay="1000"] [data-aos].aos-animate {
  transition-delay: 1s; }

[data-aos][data-aos][data-aos-duration="1050"],
body[data-aos-duration="1050"] [data-aos] {
  transition-duration: 1.05s; }

[data-aos][data-aos][data-aos-delay="1050"],
body[data-aos-delay="1050"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1050"].aos-animate,
body[data-aos-delay="1050"] [data-aos].aos-animate {
  transition-delay: 1.05s; }

[data-aos][data-aos][data-aos-duration="1100"],
body[data-aos-duration="1100"] [data-aos] {
  transition-duration: 1.1s; }

[data-aos][data-aos][data-aos-delay="1100"],
body[data-aos-delay="1100"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1100"].aos-animate,
body[data-aos-delay="1100"] [data-aos].aos-animate {
  transition-delay: 1.1s; }

[data-aos][data-aos][data-aos-duration="1150"],
body[data-aos-duration="1150"] [data-aos] {
  transition-duration: 1.15s; }

[data-aos][data-aos][data-aos-delay="1150"],
body[data-aos-delay="1150"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1150"].aos-animate,
body[data-aos-delay="1150"] [data-aos].aos-animate {
  transition-delay: 1.15s; }

[data-aos][data-aos][data-aos-duration="1200"],
body[data-aos-duration="1200"] [data-aos] {
  transition-duration: 1.2s; }

[data-aos][data-aos][data-aos-delay="1200"],
body[data-aos-delay="1200"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1200"].aos-animate,
body[data-aos-delay="1200"] [data-aos].aos-animate {
  transition-delay: 1.2s; }

[data-aos][data-aos][data-aos-duration="1250"],
body[data-aos-duration="1250"] [data-aos] {
  transition-duration: 1.25s; }

[data-aos][data-aos][data-aos-delay="1250"],
body[data-aos-delay="1250"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1250"].aos-animate,
body[data-aos-delay="1250"] [data-aos].aos-animate {
  transition-delay: 1.25s; }

[data-aos][data-aos][data-aos-duration="1300"],
body[data-aos-duration="1300"] [data-aos] {
  transition-duration: 1.3s; }

[data-aos][data-aos][data-aos-delay="1300"],
body[data-aos-delay="1300"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1300"].aos-animate,
body[data-aos-delay="1300"] [data-aos].aos-animate {
  transition-delay: 1.3s; }

[data-aos][data-aos][data-aos-duration="1350"],
body[data-aos-duration="1350"] [data-aos] {
  transition-duration: 1.35s; }

[data-aos][data-aos][data-aos-delay="1350"],
body[data-aos-delay="1350"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1350"].aos-animate,
body[data-aos-delay="1350"] [data-aos].aos-animate {
  transition-delay: 1.35s; }

[data-aos][data-aos][data-aos-duration="1400"],
body[data-aos-duration="1400"] [data-aos] {
  transition-duration: 1.4s; }

[data-aos][data-aos][data-aos-delay="1400"],
body[data-aos-delay="1400"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1400"].aos-animate,
body[data-aos-delay="1400"] [data-aos].aos-animate {
  transition-delay: 1.4s; }

[data-aos][data-aos][data-aos-duration="1450"],
body[data-aos-duration="1450"] [data-aos] {
  transition-duration: 1.45s; }

[data-aos][data-aos][data-aos-delay="1450"],
body[data-aos-delay="1450"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1450"].aos-animate,
body[data-aos-delay="1450"] [data-aos].aos-animate {
  transition-delay: 1.45s; }

[data-aos][data-aos][data-aos-duration="1500"],
body[data-aos-duration="1500"] [data-aos] {
  transition-duration: 1.5s; }

[data-aos][data-aos][data-aos-delay="1500"],
body[data-aos-delay="1500"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1500"].aos-animate,
body[data-aos-delay="1500"] [data-aos].aos-animate {
  transition-delay: 1.5s; }

[data-aos][data-aos][data-aos-duration="1550"],
body[data-aos-duration="1550"] [data-aos] {
  transition-duration: 1.55s; }

[data-aos][data-aos][data-aos-delay="1550"],
body[data-aos-delay="1550"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1550"].aos-animate,
body[data-aos-delay="1550"] [data-aos].aos-animate {
  transition-delay: 1.55s; }

[data-aos][data-aos][data-aos-duration="1600"],
body[data-aos-duration="1600"] [data-aos] {
  transition-duration: 1.6s; }

[data-aos][data-aos][data-aos-delay="1600"],
body[data-aos-delay="1600"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1600"].aos-animate,
body[data-aos-delay="1600"] [data-aos].aos-animate {
  transition-delay: 1.6s; }

[data-aos][data-aos][data-aos-duration="1650"],
body[data-aos-duration="1650"] [data-aos] {
  transition-duration: 1.65s; }

[data-aos][data-aos][data-aos-delay="1650"],
body[data-aos-delay="1650"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1650"].aos-animate,
body[data-aos-delay="1650"] [data-aos].aos-animate {
  transition-delay: 1.65s; }

[data-aos][data-aos][data-aos-duration="1700"],
body[data-aos-duration="1700"] [data-aos] {
  transition-duration: 1.7s; }

[data-aos][data-aos][data-aos-delay="1700"],
body[data-aos-delay="1700"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1700"].aos-animate,
body[data-aos-delay="1700"] [data-aos].aos-animate {
  transition-delay: 1.7s; }

[data-aos][data-aos][data-aos-duration="1750"],
body[data-aos-duration="1750"] [data-aos] {
  transition-duration: 1.75s; }

[data-aos][data-aos][data-aos-delay="1750"],
body[data-aos-delay="1750"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1750"].aos-animate,
body[data-aos-delay="1750"] [data-aos].aos-animate {
  transition-delay: 1.75s; }

[data-aos][data-aos][data-aos-duration="1800"],
body[data-aos-duration="1800"] [data-aos] {
  transition-duration: 1.8s; }

[data-aos][data-aos][data-aos-delay="1800"],
body[data-aos-delay="1800"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1800"].aos-animate,
body[data-aos-delay="1800"] [data-aos].aos-animate {
  transition-delay: 1.8s; }

[data-aos][data-aos][data-aos-duration="1850"],
body[data-aos-duration="1850"] [data-aos] {
  transition-duration: 1.85s; }

[data-aos][data-aos][data-aos-delay="1850"],
body[data-aos-delay="1850"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1850"].aos-animate,
body[data-aos-delay="1850"] [data-aos].aos-animate {
  transition-delay: 1.85s; }

[data-aos][data-aos][data-aos-duration="1900"],
body[data-aos-duration="1900"] [data-aos] {
  transition-duration: 1.9s; }

[data-aos][data-aos][data-aos-delay="1900"],
body[data-aos-delay="1900"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1900"].aos-animate,
body[data-aos-delay="1900"] [data-aos].aos-animate {
  transition-delay: 1.9s; }

[data-aos][data-aos][data-aos-duration="1950"],
body[data-aos-duration="1950"] [data-aos] {
  transition-duration: 1.95s; }

[data-aos][data-aos][data-aos-delay="1950"],
body[data-aos-delay="1950"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1950"].aos-animate,
body[data-aos-delay="1950"] [data-aos].aos-animate {
  transition-delay: 1.95s; }

[data-aos][data-aos][data-aos-duration="2000"],
body[data-aos-duration="2000"] [data-aos] {
  transition-duration: 2s; }

[data-aos][data-aos][data-aos-delay="2000"],
body[data-aos-delay="2000"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2000"].aos-animate,
body[data-aos-delay="2000"] [data-aos].aos-animate {
  transition-delay: 2s; }

[data-aos][data-aos][data-aos-duration="2050"],
body[data-aos-duration="2050"] [data-aos] {
  transition-duration: 2.05s; }

[data-aos][data-aos][data-aos-delay="2050"],
body[data-aos-delay="2050"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2050"].aos-animate,
body[data-aos-delay="2050"] [data-aos].aos-animate {
  transition-delay: 2.05s; }

[data-aos][data-aos][data-aos-duration="2100"],
body[data-aos-duration="2100"] [data-aos] {
  transition-duration: 2.1s; }

[data-aos][data-aos][data-aos-delay="2100"],
body[data-aos-delay="2100"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2100"].aos-animate,
body[data-aos-delay="2100"] [data-aos].aos-animate {
  transition-delay: 2.1s; }

[data-aos][data-aos][data-aos-duration="2150"],
body[data-aos-duration="2150"] [data-aos] {
  transition-duration: 2.15s; }

[data-aos][data-aos][data-aos-delay="2150"],
body[data-aos-delay="2150"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2150"].aos-animate,
body[data-aos-delay="2150"] [data-aos].aos-animate {
  transition-delay: 2.15s; }

[data-aos][data-aos][data-aos-duration="2200"],
body[data-aos-duration="2200"] [data-aos] {
  transition-duration: 2.2s; }

[data-aos][data-aos][data-aos-delay="2200"],
body[data-aos-delay="2200"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2200"].aos-animate,
body[data-aos-delay="2200"] [data-aos].aos-animate {
  transition-delay: 2.2s; }

[data-aos][data-aos][data-aos-duration="2250"],
body[data-aos-duration="2250"] [data-aos] {
  transition-duration: 2.25s; }

[data-aos][data-aos][data-aos-delay="2250"],
body[data-aos-delay="2250"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2250"].aos-animate,
body[data-aos-delay="2250"] [data-aos].aos-animate {
  transition-delay: 2.25s; }

[data-aos][data-aos][data-aos-duration="2300"],
body[data-aos-duration="2300"] [data-aos] {
  transition-duration: 2.3s; }

[data-aos][data-aos][data-aos-delay="2300"],
body[data-aos-delay="2300"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2300"].aos-animate,
body[data-aos-delay="2300"] [data-aos].aos-animate {
  transition-delay: 2.3s; }

[data-aos][data-aos][data-aos-duration="2350"],
body[data-aos-duration="2350"] [data-aos] {
  transition-duration: 2.35s; }

[data-aos][data-aos][data-aos-delay="2350"],
body[data-aos-delay="2350"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2350"].aos-animate,
body[data-aos-delay="2350"] [data-aos].aos-animate {
  transition-delay: 2.35s; }

[data-aos][data-aos][data-aos-duration="2400"],
body[data-aos-duration="2400"] [data-aos] {
  transition-duration: 2.4s; }

[data-aos][data-aos][data-aos-delay="2400"],
body[data-aos-delay="2400"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2400"].aos-animate,
body[data-aos-delay="2400"] [data-aos].aos-animate {
  transition-delay: 2.4s; }

[data-aos][data-aos][data-aos-duration="2450"],
body[data-aos-duration="2450"] [data-aos] {
  transition-duration: 2.45s; }

[data-aos][data-aos][data-aos-delay="2450"],
body[data-aos-delay="2450"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2450"].aos-animate,
body[data-aos-delay="2450"] [data-aos].aos-animate {
  transition-delay: 2.45s; }

[data-aos][data-aos][data-aos-duration="2500"],
body[data-aos-duration="2500"] [data-aos] {
  transition-duration: 2.5s; }

[data-aos][data-aos][data-aos-delay="2500"],
body[data-aos-delay="2500"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2500"].aos-animate,
body[data-aos-delay="2500"] [data-aos].aos-animate {
  transition-delay: 2.5s; }

[data-aos][data-aos][data-aos-duration="2550"],
body[data-aos-duration="2550"] [data-aos] {
  transition-duration: 2.55s; }

[data-aos][data-aos][data-aos-delay="2550"],
body[data-aos-delay="2550"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2550"].aos-animate,
body[data-aos-delay="2550"] [data-aos].aos-animate {
  transition-delay: 2.55s; }

[data-aos][data-aos][data-aos-duration="2600"],
body[data-aos-duration="2600"] [data-aos] {
  transition-duration: 2.6s; }

[data-aos][data-aos][data-aos-delay="2600"],
body[data-aos-delay="2600"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2600"].aos-animate,
body[data-aos-delay="2600"] [data-aos].aos-animate {
  transition-delay: 2.6s; }

[data-aos][data-aos][data-aos-duration="2650"],
body[data-aos-duration="2650"] [data-aos] {
  transition-duration: 2.65s; }

[data-aos][data-aos][data-aos-delay="2650"],
body[data-aos-delay="2650"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2650"].aos-animate,
body[data-aos-delay="2650"] [data-aos].aos-animate {
  transition-delay: 2.65s; }

[data-aos][data-aos][data-aos-duration="2700"],
body[data-aos-duration="2700"] [data-aos] {
  transition-duration: 2.7s; }

[data-aos][data-aos][data-aos-delay="2700"],
body[data-aos-delay="2700"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2700"].aos-animate,
body[data-aos-delay="2700"] [data-aos].aos-animate {
  transition-delay: 2.7s; }

[data-aos][data-aos][data-aos-duration="2750"],
body[data-aos-duration="2750"] [data-aos] {
  transition-duration: 2.75s; }

[data-aos][data-aos][data-aos-delay="2750"],
body[data-aos-delay="2750"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2750"].aos-animate,
body[data-aos-delay="2750"] [data-aos].aos-animate {
  transition-delay: 2.75s; }

[data-aos][data-aos][data-aos-duration="2800"],
body[data-aos-duration="2800"] [data-aos] {
  transition-duration: 2.8s; }

[data-aos][data-aos][data-aos-delay="2800"],
body[data-aos-delay="2800"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2800"].aos-animate,
body[data-aos-delay="2800"] [data-aos].aos-animate {
  transition-delay: 2.8s; }

[data-aos][data-aos][data-aos-duration="2850"],
body[data-aos-duration="2850"] [data-aos] {
  transition-duration: 2.85s; }

[data-aos][data-aos][data-aos-delay="2850"],
body[data-aos-delay="2850"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2850"].aos-animate,
body[data-aos-delay="2850"] [data-aos].aos-animate {
  transition-delay: 2.85s; }

[data-aos][data-aos][data-aos-duration="2900"],
body[data-aos-duration="2900"] [data-aos] {
  transition-duration: 2.9s; }

[data-aos][data-aos][data-aos-delay="2900"],
body[data-aos-delay="2900"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2900"].aos-animate,
body[data-aos-delay="2900"] [data-aos].aos-animate {
  transition-delay: 2.9s; }

[data-aos][data-aos][data-aos-duration="2950"],
body[data-aos-duration="2950"] [data-aos] {
  transition-duration: 2.95s; }

[data-aos][data-aos][data-aos-delay="2950"],
body[data-aos-delay="2950"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2950"].aos-animate,
body[data-aos-delay="2950"] [data-aos].aos-animate {
  transition-delay: 2.95s; }

[data-aos][data-aos][data-aos-duration="3000"],
body[data-aos-duration="3000"] [data-aos] {
  transition-duration: 3s; }

[data-aos][data-aos][data-aos-delay="3000"],
body[data-aos-delay="3000"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="3000"].aos-animate,
body[data-aos-delay="3000"] [data-aos].aos-animate {
  transition-delay: 3s; }

[data-aos][data-aos][data-aos-easing="linear"],
body[data-aos-easing="linear"] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }

[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
  transition-timing-function: ease; }

[data-aos][data-aos][data-aos-easing="ease-in"],
body[data-aos-easing="ease-in"] [data-aos] {
  transition-timing-function: ease-in; }

[data-aos][data-aos][data-aos-easing="ease-out"],
body[data-aos-easing="ease-out"] [data-aos] {
  transition-timing-function: ease-out; }

[data-aos][data-aos][data-aos-easing="ease-in-out"],
body[data-aos-easing="ease-in-out"] [data-aos] {
  transition-timing-function: ease-in-out; }

[data-aos][data-aos][data-aos-easing="ease-in-back"],
body[data-aos-easing="ease-in-back"] [data-aos] {
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }

[data-aos][data-aos][data-aos-easing="ease-out-back"],
body[data-aos-easing="ease-out-back"] [data-aos] {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }

[data-aos][data-aos][data-aos-easing="ease-in-out-back"],
body[data-aos-easing="ease-in-out-back"] [data-aos] {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }

[data-aos][data-aos][data-aos-easing="ease-in-sine"],
body[data-aos-easing="ease-in-sine"] [data-aos] {
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); }

[data-aos][data-aos][data-aos-easing="ease-out-sine"],
body[data-aos-easing="ease-out-sine"] [data-aos] {
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); }

[data-aos][data-aos][data-aos-easing="ease-in-out-sine"],
body[data-aos-easing="ease-in-out-sine"] [data-aos] {
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); }

[data-aos][data-aos][data-aos-easing="ease-in-quad"],
body[data-aos-easing="ease-in-quad"] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }

[data-aos][data-aos][data-aos-easing="ease-out-quad"],
body[data-aos-easing="ease-out-quad"] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

[data-aos][data-aos][data-aos-easing="ease-in-out-quad"],
body[data-aos-easing="ease-in-out-quad"] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }

[data-aos][data-aos][data-aos-easing="ease-in-cubic"],
body[data-aos-easing="ease-in-cubic"] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }

[data-aos][data-aos][data-aos-easing="ease-out-cubic"],
body[data-aos-easing="ease-out-cubic"] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

[data-aos][data-aos][data-aos-easing="ease-in-out-cubic"],
body[data-aos-easing="ease-in-out-cubic"] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }

[data-aos][data-aos][data-aos-easing="ease-in-quart"],
body[data-aos-easing="ease-in-quart"] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }

[data-aos][data-aos][data-aos-easing="ease-out-quart"],
body[data-aos-easing="ease-out-quart"] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

[data-aos][data-aos][data-aos-easing="ease-in-out-quart"],
body[data-aos-easing="ease-in-out-quart"] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }

[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform; }

[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translate(0); }

[data-aos="fade-up"] {
  transform: translateY(100px); }

[data-aos="fade-down"] {
  transform: translateY(-100px); }

[data-aos="fade-right"] {
  transform: translate(-100px); }

[data-aos="fade-left"] {
  transform: translate(100px); }

[data-aos="fade-up-right"] {
  transform: translate(-100px, 100px); }

[data-aos="fade-up-left"] {
  transform: translate(100px, 100px); }

[data-aos="fade-down-right"] {
  transform: translate(-100px, -100px); }

[data-aos="fade-down-left"] {
  transform: translate(100px, -100px); }

[data-aos^="zoom"][data-aos^="zoom"] {
  opacity: 0;
  transition-property: opacity, transform; }

[data-aos^="zoom"][data-aos^="zoom"].aos-animate {
  opacity: 1;
  transform: translate(0) scale(1); }

[data-aos="zoom-in"] {
  transform: scale(0.6); }

[data-aos="zoom-in-up"] {
  transform: translateY(100px) scale(0.6); }

[data-aos="zoom-in-down"] {
  transform: translateY(-100px) scale(0.6); }

[data-aos="zoom-in-right"] {
  transform: translate(-100px) scale(0.6); }

[data-aos="zoom-in-left"] {
  transform: translate(100px) scale(0.6); }

[data-aos="zoom-out"] {
  transform: scale(1.2); }

[data-aos="zoom-out-up"] {
  transform: translateY(100px) scale(1.2); }

[data-aos="zoom-out-down"] {
  transform: translateY(-100px) scale(1.2); }

[data-aos="zoom-out-right"] {
  transform: translate(-100px) scale(1.2); }

[data-aos="zoom-out-left"] {
  transform: translate(100px) scale(1.2); }

[data-aos^="slide"][data-aos^="slide"] {
  transition-property: transform; }

[data-aos^="slide"][data-aos^="slide"].aos-animate {
  transform: translate(0); }

[data-aos="slide-up"] {
  transform: translateY(100%); }

[data-aos="slide-down"] {
  transform: translateY(-100%); }

[data-aos="slide-right"] {
  transform: translateX(-100%); }

[data-aos="slide-left"] {
  transform: translateX(100%); }

[data-aos^="flip"][data-aos^="flip"] {
  backface-visibility: hidden;
  transition-property: transform; }

[data-aos="flip-left"] {
  transform: perspective(2500px) rotateY(-100deg); }

[data-aos="flip-left"].aos-animate {
  transform: perspective(2500px) rotateY(0); }

[data-aos="flip-right"] {
  transform: perspective(2500px) rotateY(100deg); }

[data-aos="flip-right"].aos-animate {
  transform: perspective(2500px) rotateY(0); }

[data-aos="flip-up"] {
  transform: perspective(2500px) rotateX(-100deg); }

[data-aos="flip-up"].aos-animate {
  transform: perspective(2500px) rotateX(0); }

[data-aos="flip-down"] {
  transform: perspective(2500px) rotateX(100deg); }

[data-aos="flip-down"].aos-animate {
  transform: perspective(2500px) rotateX(0); }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*------------------------------------*\
    # Grid
\*------------------------------------*/
.grid-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "a a a a a a a a a a a a" "b b b b b b b b b b b b" ". c c c c c c c c c c ." "d d d d d d d d d d d d" "e e e e e e e e e e e e" "f f f f f f f f f f f f" ". n n n n n n n o o o ." "g g g g g g g g g g g g"; }

header {
  grid-area: b;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "j j j j j j j j j j j j" "i i i i i i i i i i i i"; }

nav {
  grid-area: j; }

/*------------------------------------*\
    # Hero
\*------------------------------------*/
.hero-row {
  grid-area: i;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". l l l l l l l l l l .";
  height: 750px;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(125, 125, 125, 0.4);
  z-index: -999;
  background-color: #adb5bd; }
  @media (max-width: 480px) {
    .hero-row {
      height: 300px; } }

.hero-copy {
  grid-area: l;
  padding: 1.25em;
  padding-bottom: 2.5em; }

/*** Parallax Scrolling Tutorial ***/
/* Background Only */
#second {
  position: relative;
  background: url(../img/theshop.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: 20% top; }

.icon-hero {
  width: 100%;
  height: 100%;
  fill-opacity: 0.9; }

.intro {
  grid-area: c;
  padding: 1.25em;
  padding-top: 2.5em; }

.blog-body {
  grid-area: n;
  padding: 2.5em 1.25em 2.5em 1.25em; }

.blog-column {
  grid-area: o;
  padding: 2.5em 1.25em 2.5em 1.25em; }

.web-row {
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". p p p p p p p p p p .";
  padding: 1.25em;
  background-color: #f8f9fa; }

.print-row {
  grid-area: e;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". r r r r r r r r r r .";
  padding: 1.25em; }

.about-row {
  grid-area: f;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". k k k k k k k k k k .";
  background-color: #f8f9fa;
  padding: 1.25em;
  padding-bottom: 2.5em; }

.about-content {
  grid-area: k; }

.about-content > h3 {
  font-family: "Yellowtail", cursive; }

/*------------------------------------*\
    # Hero
\*------------------------------------*/
/*** Parallax Scrolling ***/
.story {
  height: 800px;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(125, 125, 125, 0.4);
  z-index: -999; }

/* Background Only */
#second {
  position: relative;
  background: url(../img/theshop.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: 20% top; }
  @media (max-width: 992px) {
    #second {
      background-size: auto 1000px;
      background-position: 40% top; } }
  @media (max-width: 480) {
    #second {
      background-size: auto 400px;
      background-position: top;
      background: url(../img/theshop.jpg) no-repeat center scroll; } }

.logo {
  margin: 125px auto;
  width: 488px;
  height: 487px; }
  @media (max-width: 992px) {
    .logo {
      width: 391px;
      height: 391px;
      margin-top: 115px; } }
  @media (max-width: 480px) {
    .logo {
      width: 243px;
      height: 242px;
      margin-top: 10px; } }

.icon-hero {
  width: 100%;
  height: 100%;
  fill-opacity: 0.9; }

.brand {
  font-family: "Yellowtail", cursive;
  font-size: 1.75em; }
  @media (max-width: 480px) {
    .brand {
      font-size: 1.25em; } }

/*------------------------------------*\
    # Cards
\*------------------------------------*/
.card-grid-web {
  grid-area: p; }

.card-grid-print {
  grid-area: r; }

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.25em;
  margin: 0px;
  padding: 0px; }

.card {
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  list-style: none;
  padding: 0.625em; }

.card img {
  width: 100%;
  height: auto; }

.card-grid-web > h3,
.card-grid-print > h3 {
  font-family: "Yellowtail", cursive;
  margin-bottom: 2rem; }

/*------------------------------------*\
    # Footer
\*------------------------------------*/
footer {
  grid-area: g;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". h h h h h h h h h h ." "m m m m m m m m m m m m";
  background-color: #484848; }

.footer-row {
  grid-area: h;
  display: flex;
  flex-wrap: wrap;
  padding: 1.25em;
  padding-bottom: 0px; }

.footer-copy {
  flex: 0 1 40%;
  padding: 0.625em;
  color: #fff; }
  @media (max-width: 801px) {
    .footer-copy {
      flex: 0 1 100%; } }
  .footer-copy h4 {
    color: #fff; }

.footer-copy > h4 {
  font-family: "Yellowtail", cursive; }

.footer-form {
  flex: 0 1 60%;
  padding: 0.625em; }
  @media (max-width: 801px) {
    .footer-form {
      flex: 0 1 100%; } }

.footer-copy h5:first-child,
.footer-form h5:first-child {
  color: #fff; }

.footer-copy p:last-of-type {
  color: #fff; }

.copyright {
  grid-area: m;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.625em;
  background-color: #000;
  color: #fff; }

.signoff {
  flex: 0 1 auto; }

/*------------------------------------*\
    # Form
\*------------------------------------*/
form.form-inline {
  display: flex;
  align-items: center;
  justify-content: space-between; }

form {
  width: 100%;
  text-align: center;
  margin: 20px auto; }
  form input,
  form textarea,
  form button {
    border: 0;
    outline: 0;
    padding: 0.75em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none; }
    form input:focus,
    form textarea:focus,
    form button:focus {
      box-shadow: 0 0px 2px #e56751 !important; }
  form .search-submit {
    color: white;
    background: #e56751;
    cursor: pointer;
    flex: 0 1 25%; }
    form .search-submit:hover {
      box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6); }
  form .search-input {
    flex: 0 1 72%;
    background-color: #adb5bd;
    color: #fff; }
  form #input-submit {
    color: white;
    background: #e56751;
    cursor: pointer; }
    form #input-submit:hover {
      box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6); }
  form textarea {
    height: 126px; }

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em; }

.right {
  width: 50%; }

.left {
  margin-right: 2%; }

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0; } }

.nf-field-label,
.nf-form-fields-required {
  color: #fff; }

.nf-field-5-container {
  margin-bottom: 15px; }

.field-wrap input[type="button"] {
  background-color: #e56751;
  color: #fff; }

.nf-response-msg p {
  color: #fff; }

/*------------------------------------*\
    # Recent Posts Widget
\*------------------------------------*/
div#recent-posts-3.widget_recent_entries ul,
div#categories-3.widget_categories ul {
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em; }

div#recent-posts-3.widget_recent_entries ul li,
div#categories-3.widget_categories ul li {
  list-style: none;
  padding-bottom: 10px; }

div#recent-posts-3.widget_recent_entries ul li:before,
div#categories-3.widget_categories ul li:before {
  content: "\0BB \020"; }

/*------------------------------------*\
    # Extras Extra Extra
\*------------------------------------*/
