// stylelint-disable selector-no-qualifying-type
//
// Base styles
//
.btn {}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

//
// Link buttons
//
// Make a button look and behave like a link
.btn-link {}

//
// Button Sizes
//
.btn-lg {}

.btn-sm {}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}