html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*------------------------------------*\
    # Grid
\*------------------------------------*/

.grid-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "a a a a a a a a a a a a"
    "b b b b b b b b b b b b"
    ". c c c c c c c c c c ."
    "d d d d d d d d d d d d"
    "e e e e e e e e e e e e"
    "f f f f f f f f f f f f"
    ". n n n n n n n o o o ."
    "g g g g g g g g g g g g";

  @media (max-width: 992px) {
    grid-template-columns: repeat(12, auto-fill, minmax(375px, 1fr));
    grid-template-areas:
      "a a a a a a a a a a a a"
      "b b b b b b b b b b b b"
      ". c c c c c c c c c c ."
      "d d d d d d d d d d d d"
      "e e e e e e e e e e e e"
      "f f f f f f f f f f f f"
      "n n n n n n n n n n n n"
      "o o o o o o o o o o o o"
      "g g g g g g g g g g g g";
  }
}

header {
  grid-area: b;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "j j j j j j j j j j j j"
    "i i i i i i i i i i i i";
}

nav {
  grid-area: j;
}

/*------------------------------------*\
    # Hero
\*------------------------------------*/

.hero-row {
  grid-area: i;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". l l l l l l l l l l .";
  height: 750px;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(125, 125, 125, 0.4);
  z-index: -999;
  background-color: $gray-500;

  @media (max-width: 992px) {
    height: 450px;
  }

  @media (max-width: 480px) {
    height: 300px;
  }
}

.hero-copy {
  grid-area: l;
  padding: 1.25em;
  padding-bottom: 2.5em;
}

/*** Parallax Scrolling Tutorial ***/
// .story {
//   height: 800px;
//   padding: 0;
//   margin: 0;
//   width: 100%;
//   position: relative;
//   margin: 0 auto;
//   border-top: 1px solid rgba(255, 255, 255, 0.3);
//   border-bottom: 1px solid rgba(125, 125, 125, 0.4);
//   z-index: -999;
// }

/* Background Only */
#second {
  position: relative;
  background: url(../img/theshop.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: 20% top;
}

// .logo {
//   margin: 185px auto;
//   width: 488px;
//   height: 487px;
// }

.icon-hero {
  width: 100%;
  height: 100%;
  fill-opacity: 0.9;
}

.intro {
  grid-area: c;
  padding: 1.25em;
  padding-top: 2.5em;
}

.blog-body {
  grid-area: n;
  padding: 2.5em 1.25em 2.5em 1.25em;
}

.blog-column {
  grid-area: o;
  padding: 2.5em 1.25em 2.5em 1.25em;
}

.web-row {
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". p p p p p p p p p p .";
  padding: 1.25em;
  background-color: $gray-100;
}

.print-row {
  grid-area: e;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". r r r r r r r r r r .";
  padding: 1.25em;
}

.about-row {
  grid-area: f;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". k k k k k k k k k k .";
  background-color: $gray-100;
  padding: 1.25em;
  padding-bottom: 2.5em;
}

.about-content {
  grid-area: k;
}

.about-content > h3 {
  font-family: "Yellowtail", cursive;
}

@media (max-width: 480px) {
  .intro {
    padding: 1.25em;
    padding-top: 1em;
  }

  article h3 {
    margin-top: 0px !important;
  }

  .web-row,
  .print-row,
  .about-row {
    padding: 1.25em 0 1.25em 0;
  }
}

/*------------------------------------*\
    # Hero
\*------------------------------------*/

/*** Parallax Scrolling ***/

.story {
  height: 800px;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(125, 125, 125, 0.4);
  z-index: -999;
}

/* Background Only */
#second {
  position: relative;
  background: url(../img/theshop.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: 20% top;

  @media (max-width: 992px) {
    // height: 600px !important;
    background-size: auto 1000px;
    background-position: 40% top;
  }

  @media (max-width: 480) {
    // height: 375px !important;
    background-size: auto 400px;
    background-position: top;
    background: url(../img/theshop.jpg) no-repeat center scroll;
  }
}

.logo {
  margin: 125px auto;
  width: 488px;
  height: 487px;

  @media (max-width: 992px) {
    width: 391px;
    height: 391px;
    margin: 10px auto;
  }

  @media (max-width: 480px) {
    width: 243px;
    height: 242px;
    margin-top: 10px;
  }
}

.icon-hero {
  width: 100%;
  height: 100%;
  fill-opacity: 0.9;
}

.brand {
  font-family: "Yellowtail", cursive;
  font-size: 1.75em;

  @media (max-width: 480px) {
    font-size: 1.25em;
  }
}

/*------------------------------------*\
    # Cards
\*------------------------------------*/

.card-grid-web {
  grid-area: p;
}

.card-grid-print {
  grid-area: r;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.25em;
  margin: 0px;
  padding: 0px;
}

.card {
  @include border-radius(3px);
  @include box-shadow(0px 1px 1px rgba(#000, 0.15));
  background-color: $white;
  list-style: none;
  padding: 0.625em;
  // margin-right: 0.625em;
  // margin-bottom: 0.625em;
  // flex: 0 1 24%;
  // min-width: 250px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-thumb {
}

.card-grid-web > h3,
.card-grid-print > h3 {
  font-family: "Yellowtail", cursive;
  margin-bottom: 2rem;
}

// .card:nth-of-type(4n + 0) {
//   margin-right: 0px;
// }

/*------------------------------------*\
    # Footer
\*------------------------------------*/

footer {
  grid-area: g;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ". h h h h h h h h h h ."
    "m m m m m m m m m m m m";
  background-color: $gray-800;
}

.footer-row {
  grid-area: h;
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  padding: 1.25em;
  padding-bottom: 0px;
}

.footer-copy {
  flex: 0 1 40%;
  padding: 0.625em;
  color: $white;

  @media (max-width: 801px) {
    flex: 0 1 100%;
  }

  h4 {
    color: $white;
  }
}

.footer-copy > h4 {
  font-family: "Yellowtail", cursive;
}

.footer-form {
  flex: 0 1 60%;
  padding: 0.625em;

  @media (max-width: 801px) {
    flex: 0 1 100%;
  }
}

.footer-copy h5:first-child,
.footer-form h5:first-child {
  color: $white;
}

.footer-copy p:last-of-type {
  color: $white;
}

.copyright {
  grid-area: m;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.625em;
  background-color: $black;
  color: $white;
}

.signoff {
  flex: 0 1 auto;
}

/*------------------------------------*\
    # Form
\*------------------------------------*/

form.form-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input::placeholder {
  color: $white;
}

form {
  width: 100%;
  text-align: center;
  margin: 20px 0 35px 0;

  input,
  textarea,
  button {
    border: 0;
    outline: 0;
    padding: 0.75em;
    @include border-radius(8px);
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    @include box-shadow(0 1px 1px rgba(black, 0.1));
    resize: none;

    &:focus {
      @include box-shadow(0 0px 2px rgba($primary, 1) !important);
    }
  }

  .search-submit {
    color: $white;
    background: $primary;
    cursor: pointer;
    flex: 0 1 25%;

    &:hover {
      @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6));
    }
  }

  .search-input {
    flex: 0 1 72%;
    background-color: $gray-500;
    color: $white;
  }

  #input-submit {
    color: $white;
    background: $primary;
    cursor: pointer;

    &:hover {
      @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6));
    }
  }

  textarea {
    height: 126px;
  }
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

.nf-field-label,
.nf-form-fields-required {
  color: $white;
}

.nf-field-5-container {
  margin-bottom: 15px;
}

.field-wrap input[type="button"] {
  background-color: $component-active-color;
  color: $white;
}

.nf-response-msg p {
  color: $white;
}

/*------------------------------------*\
    # Recent Posts Widget
\*------------------------------------*/

div#recent-posts-3.widget_recent_entries ul,
div#categories-3.widget_categories ul {
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

div#recent-posts-3.widget_recent_entries ul li,
div#categories-3.widget_categories ul li {
  list-style: none;
  padding-bottom: 10px;
}

div#recent-posts-3.widget_recent_entries ul li:before,
div#categories-3.widget_categories ul li:before {
  content: "\0BB \020";
}

/*------------------------------------*\
    # Extras Extra Extra
\*------------------------------------*/

@media (max-width: 480px) {
  .intro {
    padding: 1.25em;
    padding-top: 1em;
  }

  article h3 {
    margin-top: 0px !important;
  }

  .web-row,
  .print-row,
  .about-row,
  .footer-row {
    padding: 1.25em 0 1.25em 0;
  }
}
