/*------------------------------------*\
    # Nav
\*------------------------------------*/

// Hamburger
.hamburger {
  display: block;
  position: relative;
  width: 100%;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  .hamburger-inner,
  .hamburger-inner:before,
  .hamburger-inner:after {
    display: block;
    background-color: #b2bbbd;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    content: "";
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  .hamburger-inner {
    top: 50%;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger-inner:before {
    position: absolute;
    top: 8px;
    transition: top 0.1s 0.14s ease, opacity 0.1s ease;
  }

  .hamburger-inner:after {
    position: absolute;
    bottom: 8px;
    transition: bottom 0.1s 0.14s ease,
      transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  // Active state styles
  &.is-active {
    .hamburger-inner {
      transform: rotate(45deg);
      transition-delay: 0.14s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .hamburger-inner:before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease, opacity 0.1s 0.14s ease;
    }

    .hamburger-inner:after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease,
        transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

// Main navigation wrap
.main-navigation {
  // Flex layout styles
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $nav-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
  }

  // Visual styles
  background: $white;
}

// Pre nav
.pre-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: $mobile-nav-bar-height; // Define height here

  @media screen and (min-width: $nav-breakpoint) {
    height: auto;
  }

  // Brand
  .brand {
    text-decoration: none;
    color: $txt-orange;
    font-weight: $font-weight-bold;

    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  // Menu toggle
  .menu-toggle {
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    background: 0;
    width: 26px;
    height: 24px;
    padding: 0;
    cursor: pointer;

    @media screen and (min-width: $nav-breakpoint) {
      display: none;
    }
  }
}

// Nav items
.nav-items {
  // Mobile layout styles
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background: $gray-200;

  // Open state
  &.is-active {
    display: flex;
  }

  // Link items
  li {
    border-bottom: 1px solid $white;
    list-style: none;

    &:last-of-type {
      border: 0;
    }

    a {
      text-decoration: none;
      display: block;
      padding: 20px 15px;
      color: $txt-gray-2;
      font-size: 15px;
      font-weight: $font-weight-light;
    }
  }

  // Desktop layout styles
  @media screen and (min-width: $nav-breakpoint) {
    display: flex;
    flex-direction: row;
    background: none;

    // Link items
    li {
      border: none;
      transition: background 0.3s ease;

      a {
        padding: 0 15px;
        line-height: $desktop-nav-bar-height;
      }

      // Hover / active states
      &:hover,
      &.current-menu-item {
        background: $gray-200;
        outline: 0;
      }
    }

    // Submenu items

    .menu-item-has-children {
      position: relative;

      .sub-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        background: $gray-300;
        display: none;
        text-align: right;
        position: absolute;
        min-width: 100px;
        left: auto;
        right: 0;
        top: auto;
        white-space: nowrap;

        li a {
          line-height: 1.6;
          padding: 8px 15px;
          font-size: 14px;

          &:hover {
            background: $txt-orange;
          }
        }
      }

      &:hover > .sub-menu {
        display: block;
        outline: 0;
      }
    }
  }
}
