/*------------------------------------*\
    # Type
\*------------------------------------*/

// Make type normal across browsers
*,
html,
body {
  font-size: $font-size-base;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $headings-margin-bottom;
  color: $headings-color;
  line-height: $headings-line-height;
  font-weight: $headings-font-weight;
  &:first-child {
    margin-top: 0.75rem;
  }
}

h1 {
  font-size: $h1-font-size;
  margin-bottom: $headings-margin-bottom;

  a {
    font-size: $h2-font-size;
    text-decoration: none;
  }
}

h2 {
  font-size: $h2-font-size;
  margin-bottom: $headings-margin-bottom / 1.3;
  color: $gray-700;

  @media (max-width: 480px) {
    font-size: $h3-font-size;
  }
}

h3 {
  font-size: $h3-font-size;
  margin-bottom: $headings-margin-bottom / 1.5;
  color: $txt-orange;

  @media (max-width: 480px) {
    font-size: $h4-font-size;
  }
}

h4 {
  font-size: $h4-font-size;
  margin-bottom: $headings-margin-bottom / 1.7;
  color: $gray-600;
}

h5 {
  font-size: $h5-font-size;
  margin-bottom: $headings-margin-bottom / 1.8;
  color: $gray-600;

  @media (max-width: 480px) {
    font-size: $h6-font-size;
  }
}

h6 {
  font-size: $h6-font-size;
  margin-bottom: $headings-margin-bottom / 2;
  color: $gray-600;
}

// Paragraphs
p {
  margin-top: 0.5rem;
  margin-bottom: $paragraph-margin-bottom;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $txt-gray-1;
  &:last-of-type {
    margin-bottom: 0;
  }

  @media (max-width: 480px) {
    font-size: $font-size-sm;
  }
}

// Links
a {
  color: $link-color;
  transition: all 0.2s ease;
  &:hover {
    color: darken($link-color, 20%);
  }
}

// Lists
ul,
ol {
  margin: $paragraph-margin-bottom;
  li {
    margin-top: 0;
    line-height: $line-height-base;
    color: $txt-gray-1;
  }
  ul,
  ol {
    margin-top: 0;
  }
}

ul {
  li {
    list-style: disc;
  }
  ul {
    li {
      list-style: circle;
    }
  }
}

ol {
  li {
    list-style: decimal;
  }
}

// hr
hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

// Blockquote
blockquote {
  margin: $blockquote-margin 0;
  font-size: $blockquote-font-size;
  line-height: $blockquote-margin;
  color: $blockquote-small-color;
  text-align: center;
  font-style: italic;
}

// Tables
table {
  width: 100%;
  margin: $blockquote-margin 0;
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid $border-color;
  text-align: left;
}

th {
  font-weight: $font-weight-bold;
}

th,
td {
  padding: 15px;
}

// Figure
figure {
  margin: $blockquote-margin 0;
  img {
    margin: 0;
  }
}

figcaption {
  margin-top: 10px;
  color: lighten($txt-gray-1, 10%);
  font-size: $paragraph-margin-bottom * 0.8;
}

// Code
pre {
  display: block;
  margin: 0 0 40px 0;
  padding: 20px;
  background-color: lighten($txt-gray-1, 12%);
  border: 1px solid $border-color;
  overflow: auto;
  border-radius: 3px;
  code {
    position: static;
    padding: 0;
    border: none;
    line-height: 1.5em;
  }
}

code {
  position: relative;
  top: -0.2em;
  padding: 3px;
  font-family: Courier New, Courier, monospace;
  font-size: $font-size-base / 1.2;
  color: darken($border-color, 70%);
  line-height: 1rem;
  pointer-events: none;
  border: 1px solid $border-color;
  border-radius: 3px;
}

// Misc Styles
em,
i,
.italic {
  font-style: italic;
}

strong,
b,
.bold {
  font-weight: $font-weight-bold;
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: $headings-margin-bottom / 1.7;
}

.post-details {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .date,
  .author,
  a {
    font-size: 1rem;
    line-height: 0.85;
    color: #818181;
  }
}

.loop-details {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 2rem;

  .date,
  .author,
  a {
    font-size: 1rem;
    line-height: 0.85;
    color: #818181;
  }
}

.content-details {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

article {
  h3 {
    font-family: "Yellowtail", cursive;
    margin-top: 2rem !important;
  }

  h3 a {
    font-family: "Yellowtail", cursive;
    font-size: 2rem;
    text-decoration: none;
  }
}
