// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
//
// Color Settings
//
// Greyscale
//
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #484848 !default;
$gray-900: #272727 !default;
$black: #000 !default;
//
// Theme
//
$txt-orange: #e56751 !default;
$txt-gray-1: #3f3f3f !default;
$txt-gray-2: #868686 !default;
$txt-gray-3: #aaabaf !default;
$txt-gray-4: #f6f3f0 !default;
//
$primary: $txt-orange !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;
//
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true !default;
$enable-print-styles: true !default;
//
// Body
//
$txt-primary: $txt-gray-1 !default;
$body-bg: $white !default;
$body-color: $gray-900 !default;
//
$component-active-color: #e56751 !default;
$component-active-bg: theme-color("primary") !default;
//
// Links
//
// Style anchor elements.
$link-color: $txt-orange !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
//
// Typography Settings
// Font Family
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// Spacing
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);
// Components
//
// Define common padding and border radius sizes and more.
$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;
$border-width: 1px !default;
$border-color: $gray-300 !default;
$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;
// Base Font for HTML
$font-size-base: 1rem !default;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * 0.875) !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.35 !default;
$paragraph-margin-bottom: 1rem !default;
$small-font-size: 80% !default;
$text-muted: $gray-600 !default;
// Header Styles
$h1-font-size: $font-size-base * 4.5 !default;
$h2-font-size: $font-size-base * 4 !default;
$h3-font-size: $font-size-base * 2 !default;
$h4-font-size: $font-size-base * 1.85 !default;
$h5-font-size: $font-size-base * 1.75 !default;
$h6-font-size: $font-size-base !default;
$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 300 !default;
$headings-line-height: 1 !default;
$headings-color: $txt-gray-2 !default;
// Blockquote Styles
$blockquote-small-color: $gray-600 !default;
$blockquote-font-size: ($font-size-base * 1.25) !default;
$blockquote-margin: $paragraph-margin-bottom * 1.5;
// hr
$hr-border-color: rgba($black, 0.1) !default;
$hr-border-width: $border-width !default;
$hr-margin-y: $spacer !default;
// Nav Breakpoints
$nav-breakpoint: 900px;
$mobile-nav-bar-height: 60px;
$desktop-nav-bar-height: 70px;
